Source: pyee
Section: python
Priority: optional
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Uploaders: Mycroft Devs <devops@mycroft.ai>
Build-Depends: debhelper (>= 9),
               dh-python,
               python-all,
               python3-all,
               python-pytest-runner,
               python-setuptools,
               python-vcversioner,
               python3-vcversioner,
               python3-setuptools,
               python3-pytest-runner
Standards-Version: 4.0.0

Package: python-pyee
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
XB-Python-Version: ${python:Versions}
Description: Port of node.js's EventEmitter to python
 This package contains the pyee module for Python 2. pyee supplies an
 EventEmitter object similar to the EventEmitter from node.js.

Package: python3-pyee
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
Description: Port of node.js's EventEmitter to python
 This package contains the pyee module for Python 3. pyee supplies an
 EventEmitter object similar to the EventEmitter from node.js.
